body {
    background: #fff !important;
}
.calculator-filter {
    width: 58%;
    margin: auto;
}
.calculator-select {
    width: 20%;
    padding-right: 10px;
    float: left;
}
.calculator-select label {
    color: #fff;
}
.calculator-select button {
    width: 100%;
    margin-top: 26px;
    background: #EF1923;
    border: 1px solid #EF1923;
    font-size: 16px;
}
.calculator-select button:hover{
    background: #d31620 !important;
    border: 1px solid #d31620;
}
.main-stock {
    width: 82%;
    float: left;
    padding: 0 15px;
}
.stock-sort {
    width: 20%;
    float: right;
}
.contents-list {
    border-bottom: 1px solid #D3D3D3;
    padding-bottom: 10px;
}
.stock-image {
    width: 20%;
    float: left;
}
.stock-image img{
    width: 100%;
}
.stock-contents {
    width: 63%;
    padding: 0 15px;
    float: left;
}
.stock-contents h5, .stock-contents .table-light {
    font-weight: 600;
}
.stock-contents h5 {
    color: #E10B14;
    text-transform: uppercase;
}
.stock-contents table {
    font-size: 12px;
    color: #000;
    font-weight: 600;
}
.stock-price-list {
    width: 15%;
    float: left;
    margin-top: 10px;
}
.table {
    margin-bottom: 0 !important;
}
.fob-label {
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
}
.fob-value {
    color: #3c9a03;
    font-size: 20px;
}
.total-label {
    font-size: 15px;
    font-weight: bold;
    color: #E10B14;
    margin-right: 20px;
}
.totla-value {
    font-size: 20px;
    font-weight: bold;
    color: #E10B14
}
.cif {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
}
.port {
    color: #E10B14;
    font-size: 16px;
    margin-bottom: 5px;
}
.detail-inquire {
    width: 100%;
    display: block;

}
.btn-detail {
    float: left !important;
}
.btn-inquire {
    float: right !important;
}
.btn-detail,  .btn-inquire{
    background: #EF1923;
    color: #fff;
    padding: 5px 14px;
    border-radius: 3px;
    font-size: 15px !important;
}
.btn-detail:hover,  .btn-inquire:hover {
    color: #fff !important;
    background: #d31620;
}
.price-border-bottom {
    border-bottom: 1px solid #D3D3D3;
    margin-top: 2px;
    margin-bottom: 5px;
}
.stock-mobile-title, .stock-mobile-contents, .calc-mobile, .contents-border-right {
    display: none;
}
.main-contents-title .stock-name {
    float: initial;
}
#load_more {
    margin-top: 20px;
    text-align: center;
}
#load_more button {
    background: #EF1923;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 6px;
}
#load_more button:hover {
    background: #c2141d;
}
.main-contents-title a {
    position: relative;
    overflow: hidden;
}
.no-data {
    padding: 20px;
    margin-top: 30px;
    line-height: 30px;
    /* border: 1px solid #ff7f00; */
}
.no-data a {
    float: left;
}
@media only screen and (max-width: 1680px) {
    .calculator-filter {
        width: 60%;
    }
    .fob-value, .totla-value {
        font-size: 18px;
        font-weight: 600;
    }
    .table>:not(caption)>*>* {
        padding: 0.6rem !important;
    }
    .stock-contents {
        padding: 0 15px;
    }
}
@media only screen and (max-width: 1440px) {
    .hero {
        height: 330px;
    }
    .calculator-filter {
        width: 65%;
    }
    .fob-label, .total-label {
        font-size: 14px;
    }
    .fob-value, .totla-value {
        font-size: 16px;
    }
    .btn-detail, .btn-inquire {
        font-size: 14px !important;
    }
    .stock-sort {
        width: 21%;
    }
    .table>:not(caption)>*>* {
        padding: 0.5rem !important;
    }
    .stock-price-list{
        line-height: 1.4;
    }
}
@media only screen and (max-width: 1366px) {
    .stock-sort {
        width: 22%;
    }
    .fob-label, .total-label{
        margin-right: 18px;
    }
    .stock-contents table {
        font-size: 11px;
    }
    .stock-price-list {
        margin-top: 20px;
        line-height: 1.2;
    }
    .stock-contents {
        padding: 0 15px;
    }
    .contents-list {
        margin-top: 5px !important;
        padding-bottom: 5px !important;
    }
}
@media only screen and (max-width: 1280px) {
    .hero {
        height: 313px !important;
    }
    .stock-sort {
        width: 23%;
    }
    .calculator-filter {
        width: 67%;
    }
    .fob-label, .total-label {
        margin-right: 13px;
    }
    .btn-detail, .btn-inquire {
        padding: 5px 13px;
    }
    .cif, .port{
        font-size: 14px;
    }
    .sort-by {
        padding: 5px 10px !important;
    }
    .table>:not(caption)>*>* {
        padding: 0.45rem !important;
    }
}
@media only screen and (max-width: 1024px) {
    .calculator-filter {
        width: 93%;
    }
    .main-stock {
        width: 75%;
    }
    .stock-contents {
        display: none;
    }
    .stock-sort {
        width: 34%;
    }
    .contents-list {
        width: 33% !important;
        float: left;
        padding: 10px;
        border-bottom: 1px solid #8c8787;
    }
    .stock-sort label{
        display: none;
    }
    .stock-image {
        width: 43%;
    }
    .stock-price-list {
        width: 100%;
        margin-top: 1px;
    }
    .contents-border-right {
        width: 1px;
        background: #d2d2d2;
        display: block;
        height: 185px;
        position: relative;
        left: -10px;
        top: -8px;
    }
    .stock-image img {
        width: 100%;
        min-height: 83px;
        object-fit: cover;
    }
    .stock-mobile-title, .stock-mobile-contents {
        display: block;
    }
    .stock-mobile-title h5 {
        color: #E10B14;
        font-weight: 600;
        text-transform: uppercase;
    }
    .stock-mobile-contents {
        width: 57%;
        float: left;
        display: inline;
        padding: 0 5px;
    }
    .stock-label, .stock-value {
        float: left;
        width: 50%;
        font-size: 11px;
        margin-bottom: 1px;
    }
    .stock-label {
        font-weight: 600;
    }
    .country-port {
        display: flow-root;
    }
    .cif{
        float: left;
    }
    .fob-value, .totla-value, .port {
        float: right;
    }
    .media-count {
        display: none;
    }
    .reserved-mark {
        font-size: 7px !important;
        line-height: 19px !important;
        right: -85px !important;
        top: 5px !important;
    }
}
@media only screen and (max-width: 768px) {
    .stock-mobile-title, .stock-mobile-contents {
        display: table;
    }
    #stock-contents {
        display: flex;
    }
    body {
        background: #E5E5E5 !important;
    }
    .banner-desc, .calculator-filter {
        display: none;
    }
    .main-stock {
        width: 100%;
        padding: 0;
    }
    .hero {
        height: 136px !important;
    }
    .calc-mobile {
        display: block;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        width: 100%;
        float: left;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .calc-title {
        background: #081803 !important;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }
    .calc-title h3{
        color: #fff;
        margin-left: 21px;
        font-size: 18px;
        padding: 15px 0;
        margin-bottom: 0;
    }
    .calc-form {
        background: #E10B14;
        padding: 17px 12px;
        display: inline-block;
    }
    .calc-list{
        width: 50%;
        float: left;
        padding: 10px;
    }
    .calc-list-label {
        width: 35%;
        float: left;
        color: #fff;
        margin-top: 10px;
    }
    .calc-list-value{
        width: 65%;
        float: left;
    }
    .ins-margin {
        margin-right: 10px;
    }
    a.btn-ins {
        background: #fff;
        padding: 7px 36px;
    }
    a.active{
        background: #286090;
        border-color: #286090;
        color: #fff !important;
    }
    .calc-submit {
        width: 30%;
        float: right;
        text-align: right;
        padding-right: 13px;
    }
    .calc-submit button{
        background: #920000;
        color: #fff;
    }
    .calc-submit button:hover{
        color: #fff !important;
    }
    .calc-submit button:active{
        color: #fff !important;
    }
}
@media only screen and (max-width: 425px) {
    .top-menu-wrapper, .hero-wrapper, .contents-wrapper {
        width: 96% !important;
    }
    .calc-form {
        padding: 8px 7px;
    }
    .calc-list {
        width: 100%;
        padding: 3px;
    }
    .calc-list-label {
        width: 50%;
        margin-top: 8px;
        font-size: 17px;
    }
    .calc-list-value {
        width: 50%;
    }
    a.btn-ins {
        padding: 7px 33px;
    }
    .ins-margin {
        margin-right: 13px;
    }
    .calc-submit {
        width: 50%;
        padding-right: 4px;
    }
    .calc-submit button {
        padding: 8px 57px;
    }
    .contents-list {
        width: 50% !important;
        margin-bottom: 0 !important;
        padding-bottom: 10px !important;
        position: relative;
        padding: 8px;
    }
    .stock-image img {
        min-height: 80px;
    }
    .stock-label, .stock-value {
        font-size: 11px;
    }
    .contents-border-right {
        position: absolute;
        left: 1px;
        top: 25px;
    }
    .main-contents-title a {
        font-weight: 100 !important;
    }
    #load_more button {
        font-size: 13px;
        padding: 7px 10px;
        margin-top: 10px;
    }
    .calc-mobile {
        margin-top: 0;
    }
}
@media only screen and (max-width: 414px) {
    .stock-mobile-title h5 {
        margin-bottom: 0;
    }
    .calc-title h3 {
        margin-left: 13px;
    }
    a.btn-ins {
        padding: 7px 32px;
    }
    .calc-submit button {
        padding: 8px 55px;
    }
    .fob-label, .total-label, .cif, .port {
        font-size: 13px;
    }
    .fob-value, .totla-value {
        font-size: 14px;
    }
    .stock-label, .stock-value {
        font-size: 10px;
    }
}
@media only screen and (max-width: 412px) {
    a.btn-ins {
        padding: 7px 31px;
    }
    .calc-submit button {
        padding: 8px 54px;
    }
    .contents-wrapper {
        margin: 6px auto;
    }
}
@media only screen and (max-width: 393px) {
    a.btn-ins {
        padding: 7px 29px;
    }
    .calc-submit button {
        padding: 8px 50px;
    }
    .stock-mobile-title h5 {
        font-size: 13px;
        margin-bottom: 2px;
    }
    .stock-label, .stock-value {
        font-size: 9px;
    }
    .stock-image img {
        min-height: 69px;
    }
    .contents-border-right {
        top: 12px
    }
}
@media only screen and (max-width: 390px) {
    .calc-submit button {
        padding: 8px 49px;
    }
    
}
@media only screen and (max-width: 375px) {
    a.btn-ins {
        padding: 7px 25px;
    }
    .calc-submit button {
        padding: 8px 42px;
    }
}
@media only screen and (max-width: 360px) {
    .select-width, .select-width-last {
        width: 39.1%;
    }
    .search-type, .search-maker {
        margin-top: 10px;
    }
    .search-category a {
        width: 79px;
    }
    .calc-mobile {
        margin-bottom: 4px;
    }
    .stock-sort {
        width: 44%;
    }
    .stock-label, .stock-value {
        font-size: 8px;
    }
    .fob-label, .total-label, .cif, .port {
        font-size: 11px;
    }
    .btn-detail, .btn-inquire {
        padding: 4px 11px;
        font-size: 12px !important;
    }
}