.hero {
    height: 190px !important;
}
body{
    background: #fff !important;
}
.contents {
    display: flex;
}
.gallery-details{
    width: 80%;
    margin: 30px auto;
}
.gallery a img {
    float: left;
    width: 25%;
    height: auto;
    border: 2px solid #fff;
    -webkit-transition: -webkit-transform .15s ease;
    -moz-transition: -moz-transform .15s ease;
    -o-transition: -o-transform .15s ease;
    -ms-transition: -ms-transform .15s ease;
    transition: transform .15s ease;
    position: relative;
}
.clear {
    clear: both;
}
.gallery-list {
    margin-bottom: 20px;
}
.gallery-list strong {
    color: #000;
}
.gallery-list span {
    color: #e41515;
    font-weight: 700;
}
@media only screen and (max-width: 1440px){
    .hero {
        height: 160px !important;
    }
}
@media only screen and (max-width: 1280px){
    .hero {
        height: 149px !important;
    }
}
@media only screen and (max-width: 1024px){
    .hero {
        height: 137px !important
    }
}
@media only screen and (max-width: 425px) {
    .gallery-details {
        width: 94%;
        margin: 10px auto;
    }
    .page-title a {
        font-size: 16px !important;
    }
    table {
        font-size: 12px;
    }
}