.wrap-border {
    border: 1px solid #ccc;
    border-radius: 3px;
    /* padding: 10px; */
    min-height: 500px;
}
.user-chat .card{
    margin-bottom: 0;
}
.col-auto {
    align-self: flex-end;
}
.chat-input-section textarea {
    background-color: #eff2f7;
    border-color: #eff2f7;
}
.media img {
    object-fit: cover;
}
.chat-conversation .conversation-list .chat-time {
    font-size: 10px !important;
}
.chat-conversation .conversation-list .ctext-wrap {
    padding: 6px 8px !important;
    background-color: rgb(91 216 61 / 10%) !important;
}
.chat-conversation .conversation-list {
    margin-bottom: 4px !important;
    min-width: 250px;
}
.chat-conversation .right .conversation-list .ctext-wrap {
    background-color: #eff2f7 !important;
    text-align: left !important;
}
.conversation-header {
    display: flow-root;
}
.chat-conversation .conversation-list .ctext-wrap .conversation-name {
    float: left;
}
.conversation-header p {
    float: right;
}
.chat-description {
    margin: 0;
}