@charset "UTF-8";@font-face {
    font-family: "Electrolux Sans Regular";
    src: url("../../fonts/Electrolux-Sans-Regular/6d554d2d391c409ee9ba47a0ee371466.eot"); /* IE9*/
    src: url("../../fonts/Electrolux-Sans-Regular/6d554d2d391c409ee9ba47a0ee371466.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../fonts/Electrolux-Sans-Regular/6d554d2d391c409ee9ba47a0ee371466.woff2") format("woff2"), /* chrome、firefox */
    url("../../fonts/Electrolux-Sans-Regular/6d554d2d391c409ee9ba47a0ee371466.woff") format("woff"), /* chrome、firefox */
    url("../../fonts/Electrolux-Sans-Regular/6d554d2d391c409ee9ba47a0ee371466.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../../fonts/Electrolux-Sans-Regular/6d554d2d391c409ee9ba47a0ee371466.svg#Electrolux Sans Regular") format("svg"); /* iOS 4.1- */
}