@media only screen and (max-width: 1440px){
    .hero {
        height: 160px !important;
    }
}
@media only screen and (max-width: 1280px){
    .hero {
        height: 149px !important;
    }
}
@media only screen and (max-width: 1024px){
    .hero {
        height: 137px !important
    }
}