body {
    font-family: Electrolux Sans Regular;
    font-style: normal;
    background: #E5E5E5;
}
h3 {
    font-size: 20px;
}
.top-menu {
    background: #EF1923;
    padding: 5px 0;
    height: 50px;
}
.top-menu-wrapper {
    width: 81.47%;
    margin: 0 auto;
    display: flex;
} 
.top-left, .top-right {
    width: 50%;
}
.contact-info {
    color: #fff;
    float: left;
}
.call-us{
    margin-top: 6px;
}
.contact-info i{
    font-size: 24px;
}
.contact-info span{
    font-size: 14px;
}
.contact-info a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.whats-app {
    margin-left: 30px;
}
.social {
    float: left;
}
/* .social a{
    font-size: 23px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 3px;
    min-width: 33px;
    display: inline-block;
}
.social .menu-facebook {
    background: #3B5998;
}
.social .menu-youtube {
    background: #e64a41;
}
.social .menu-instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
} */
.social i{
    /* font-size: 18px; */
    color: #fff;
    font-size: 24px;
    margin-left: 20px;
    padding-top: 10px;
}
.user-register {
    float: right;
    padding-top: 10px;
}
.user-signup, .user-login {
    float: right;
}
.user-register a{
    color: #fff;
    font-size: 16px;
}
.user-register i{
    font-size: 20px;
    margin-right: 10px;
}
.user-login {
    margin-right: 20px;
}
.hero {
    background: url('../images/banner.png');
    height: 375px;
}
.hero-wrapper {
    width: 81.47%;
    margin: 0 auto;
}
.hero-wrapper .logo {
    float: left;
}
.hero-wrapper .logo img{
    margin-top: 20px;
}
.hero-wrapper .menu {
    float: right;
    margin-top: 60px;
}
.menu ul li {
    display: inline;
}
.menu ul li a {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-right: 33px;
}
.menu ul li a:hover, .menu ul li a:active, .menu ul li a.active {
    color: #E10B14;       
}
.menu ul li .last-menu{
    margin: 0;
}
.banner-desc {
    clear: both;
}
.banner-desc h1{
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-weight: 600;
}
.banner-img{
    text-align: center;
    /* margin-top: 20px; */
}
.banner-img img{
    width: 800px;
}

/* /end head*/

/* contents section */
.contents-wrapper {
    width: 81.47%;
    margin: 25px auto;
    display: flex;
    margin-top: 64px;
}
/* left sidebar */
.left-sidebar {
    width: 17%;
    float: left;
}
.search-car {
    background: #081803;
    border-radius: 6px;
}
.search-car-title {
    background: #081803 !important;
}
.search-title h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    padding: 15px 0;
    margin-bottom: 0;
    margin-left: 25px;
}
.custom-search {
    background: #E10B14;
    position: relative;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.search-input {
    padding: 6px 0;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 4px;
}
.custom-search .form-content{
    padding: 17px 12px;
}
.form-content span {
    position: absolute;
    font-size: 15px;
    line-height: 38px;
    right: 25px;
    top: 17px;
    color: #b9bfc4;
}
.form-content .req {
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    margin-top: 6px;
    margin-bottom: 0;
}
.select-search {
    padding: 0 12px;
}
.select-search .input-group span{
    background: #920000;
    color: #fff;
    border: transparent;
    width: 72px;
    font-size: 15px;
}
.select-width, .select-width-last {
    width: 34%;
}
.select-width select{
    border-radius: unset;
}
.select-search select, .select-width select, .select-width-last select{
    background-position: right 0.2rem center;
}
.select-width-last {
    margin-left: 5px !important;
}
.select-width-last select{
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}
.advance-search {
    margin-top: 12px;
    text-align: right;
}
.advance-search a {
    color: #fff;
    font-size: 15px;
}
.search-submit{
    width: 100%;
    border: transparent;
    background: #081803;
    color: #fff;
    border-radius: 0px 0px 6px 6px;
    font-size: 18px;
    padding: 10px 0;
}
.search-submit i{
    margin-left: 3px;
    font-size: 14px;
}
.search-type, .search-maker {
    margin-top: 30px;
    border-radius: 6px;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.06);
    background: #fff;
}
.search-title {
    background: #E10B14;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.search-category {
    padding: 22px 12px;
}
.search-category a{
    color: #4B4B4B;
    font-size: 15px;
    display: flow-root;
}
.search-category a:hover {
    color: #E10B14;
}
.search-category img{
    float: left;
    max-height: 30px;
    max-width: 50px;
}
.search-category p{
    float: left;
    margin-left: 18px;
}
.search-category span {
    margin-left: 5px;
    font-size: 15px;
}
/* /end left sidebar */
/* main contents */
.main-contents {
    width: 66%;
    float: left;
    padding: 0 15px;
}
.main-contents-title h1 {
    float: left;
    border-bottom: 1px solid #E10B14;
    padding-bottom: 5px;
    margin: 0;
    font-weight: 600;
    color: #302E2E;
}
.main-contents-title a {
    float: right;
    font-size: 16px;
    font-weight: 600;
}
.main-contents-title .title-border{
    height: 1px;
    background: #ACACAC;
    width: 100%;
    display: flex;
}
.contents-list {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}
.car-list {
    width: 24%;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0px 4px 44px rgb(0 0 0 / 6%);
    float: left;
    margin-right: 1.33%;
    margin-bottom: 10px;
}
.car-list img{
    width: 100%;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.car-list img:hover{
    opacity: .5;
}
.car-desc{
    padding: 4px 7px;
}
.car-desc h3{
    color: #E10B14;
    font-size: 15px;
    text-transform: uppercase;
}
.car-desc p{
    font-size: 14px;
    color: #4F4D4D;
    margin: 0;
    margin-bottom: 3px;
}
.car-image {
    position: relative;
    display: flex;
    overflow: hidden;
}
.media-count{
    position: absolute;
    color: #fff;
    font-size: 16px;
    z-index: 999;
}
.image-count, .video-count {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 3px 5px;
    top: 0;
    margin-top: 10px;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.image-count:hover, .video-count:hover {
    background: rgba(0, 0, 0, 0.6);
}
.image-count i, .video-count i{
    font-size: 12px;
    margin-right: 3px;
}
.reserved-mark {
    position: absolute;
    right: -74px;
    padding: 0px 55px;
    top: 13px;
    width: 200px;
    line-height: 24px;
    transform: rotate(45deg);
    background-color: #e41515;
    color: #fff !important;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.customer-list {
    position: relative;
    width: 30.5%;
    border-radius: 6px;
    float: left;
    margin-top: 20px;
    margin-right: 4.2%;
}
.customer-list img {
    width: 100%;
    border-radius: 6px;
    height: 250px;
    object-fit: cover;
}
.customer-text {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.customer-text h3 {
    font-weight: 600;
    font-size: 16px;
    padding: 17px 0;
    text-align: center;
    color: #E10B14;
    margin: 0;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.36) 0%, rgba(24, 21, 21, 0.77) 100%);
  }
  .customer-list:hover .overlay {
    opacity: 1;
    /* box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.06); */
    border-radius: 6px;
  }
  .customer-list:hover .customer-text{
      display: none;
      transition: .5s ease;
  }
  .overlay-text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
  .overlay-text h3{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    cursor: pointer;
  }
  .overlay-border {
      height: 0.5px;
      width: 100%;
      background: #fff;
  }
  .overlay-text p{
      padding: 10px;
      font-size: 14px;
  }
  .overlay-text h3:hover{
      color: #E10B14;
  }
/* /end main contents */
/* end main */
/* right sidebar */
.right-sidebar{
    float: left;
    width: 17%;
}
.news-box img{
    width: 100%;
}
.news-box .fb-wrapper{
    width: 100%;
}
.news-box iframe{
    width: 100% !important;
}
.fb-wrapper h3{
    font-size: 19px;
    background: #4267B2;
    border-radius: 6px 6px 0px 0px;
    color: #fff;
    padding: 11px 21px;
    margin: 0;
}
/* footer section */
.footer{
    display: flex;
    background: #3A3A3C;
}
.footer-warpper{
    width: 70.3%;
    margin: 58px 285px 44px 285px;
}
.footer-logo {
    float: left;
    width: 45%;
    margin-right: 8.85%;
}
.footer-logo a {
    font-size: 23px;
    color: #fff;
    font-weight: 600;
}
.footer-social a{
    text-align: center;
    border-radius: 3px;
    min-width: 33px;
    display: inline-block;
}
.footer-facebook {
    background: #3B5998;
}
.footer-facebook:hover {
    background: #314b81;
}
.footer-youtube {
    background: #e64a41;
}
.footer-youtube:hover {
    background: #d13b33;
}
.footer-instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.footer-instagram:hover {
    background: linear-gradient(45deg, #d68127 0%,#bd4012 25%,#db1331 50%,#c01f5f 75%,#ca1d93 100%);
}
.footer-instagram i{
    font-size: 22px !important;
}
.footer-logo p{
    font-size: 15px;
    line-height: 23px;
    color: #EFEFEF;
    margin-top: 10px;
}
.footer-social{
    margin-top: 29px;
}
.footer-social i{
    font-size: 18px;
    color: #fff; 
}
.footer-menu{
    width: 14.7%;
    margin-right: 8.85%;
    float: left;
}
.footer-menu h3, .footer-contact h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 23px;
    color: #fff;
}
.footer-menu a{
    color: #EFEFEF;
    font-size: 17px;
    margin-bottom: 13px;
}
.footer-menu .left-menu, .footer-menu .right-menu {
    width: 50%;
    float: left;
    text-align: left;
    display: inline-grid;
}
.footer-contact {
    width: 45%;
    float: left;
}
.address-contact{
    width: 60%;
    float: left;
}
.contact-left i{
    font-size: 18px;
    color: #E9E9E9;
}
.contact-list {
    display: flex;
}
.contact-right {
    float: left;
    margin-left: 19px;
}
.contact-right h3{
    font-weight: 600;
    font-size: 17px;
    color: #FFFFFF;
    margin-bottom: 6px;
}
.contact-right p{
    font-size: 15px;
    color: #FFFFFF;
}
.phone-contact {
    width: 40%;
    float: left;
    padding-left: 37px;
}
.copywirter{
    background: #212121;
}
.copywirter p{
    font-size: 17px;
    padding: 25px 0;
    text-align: center;
    color: #fff;
    margin: 0;
}
/* modal section */
.advanced-content {
    border: transparent;
}
.advanced-header {
    background: #E10B14;
}
.advanced-header .modal-title, .advanced-header button{
    color: #fff;
}
.form-wrapper {
    padding: 1rem;
}
.search-wrapper{
    background: #F8F8F8;
    border-radius: 6px;
    padding: 1rem;
    display: flow-root;
}
.search-wrapper h3{
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}
.custom-from-check {
    float: left;
    margin-right: 24px;
}
.custom-from-check .form-check-input{
    width: 1.2em;
    height: 1.2em;
    margin-top: 0.15em;
}
.custom-from-check label{
    margin: 0;
}
.custom-lavel {
    float: left;
    margin: 5px 0;
}
.custom-select {
    float: left;
}
.lavel-s{
    width: 30%;
}
.select-s {
    width: 60%;
}
.lavel-m{
    width: 20%;
}
.select-m{
    width: 80%;
}
.custom-select select {
    padding: 0.27rem 1.65rem 0.27rem 0.55rem;
}
.left-select-m {
    width: 48%;
    float: left;
}
.right-select-m {
    width: 48%;
    float: right;
}
.spec-title {
    font-weight: 600;
    color: #000000;
    margin: 0;
    margin-top: 21px;
    margin-bottom: 10px;
}
.spec-left, .spec-right{
    background: #F8F8F8;
    height: 45px;
}
.spec-left {
    width: 19%;
    float: left;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    /* text-align: center; */
}
.spec-left label{
    padding: 13px 0;
    padding-left: 14px;
}
.spec-right {
    width: 80%;
    float: right;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.spec-select select{
    padding: 0.27rem 1.65rem 0.27rem 0.55rem;
}
.spec-select {
    width: 40%;
    float: left;
    margin-left: 0.5rem;
    padding-top: 7px;
}
.spec-fuel {
    width: 82%;
}
.spec-right .custom-from-check{
    margin-left: 0.5rem;
    padding: 13px 6px;
    margin-right: 0;
}
.spec-right input{
    width: 80%;
    margin-left: 0.5rem;
    margin-top: 9px;
}
.modal-submit {
    width: 170px;
    /* margin: 10px auto; */
    margin: auto;
    margin-top: 29px;
}
.modal-submit button{
    background: #EF1923 !important;
    width: 100%;
    font-size: 18px;
}
.modal-submit i{
    position: relative;
    top: 3px;
    margin-left: 6px;
}
.mobile-icon {
    display: none;
}
.topnav {
    display: none;
}
.select-width .form-select, .select-width-last .form-select{
    padding: 0.47rem 0.45rem 0.47rem 0.45rem;
}
.modal.show .modal-dialog {
    /* max-width: 1000px; */
}
/* spiner loading */
.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
}
.spinner-border {
    position: absolute;
    top: 40%;
    left: 50%;
}
/* page title */
.page-title {
    margin-bottom: 10px;
}
.page-title ul {
    display: inline;
    padding: 0;
}
.page-title ul li{
    display: inline;
}
.page-title a {
    font-size: 18px;
}
.current-page {
    color: #6c757d;
}
.current-page:hover {
    color: #6c757d;
}
.registered-user {
    float: right;
}
.registered-user button{
    color: #fff;
    padding: 0 .75rem;
    font-weight: 600;
}
.registered-user button:hover{
    color: #fff;
}
.registered-user button:focus{
    box-shadow:none
}
.registered-user button img {
    width: 35px;
    object-fit: cover;
    height: 35px;
}
.whatsapp {
    position: fixed;
    bottom: 100px;
    right: 0;
    z-index: 39000;
    cursor: pointer;
}
.whatsapp .wrap{
    width: 80px;
}
.whatsapp .wrap img{
    width: 100%;
}
.side_whatsapp_add{
    display: none;
}
.side_whatsapp_add {
    position: fixed;
    bottom: 122px;
    right: 81px;
    margin-right: 2px;
    box-sizing: border-box;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 30%);
    background-color: #f1f1f1;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    z-index: 1;
}
.side_whatsapp_add ul {
    padding: 0;
}
.side_whatsapp_add li {
    position: relative;
    display: block;
    list-style: none;
}
.side_whatsapp_add li::before {
    display: block;
    content: "";
    position: absolute;
    top: 12px;
    left: 8px;
    border-left: 8px solid #666;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.side_whatsapp_add li a {
    display: table;
    width: 255px;
    border-top: 1px solid #e0e0e0;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.side_whatsapp_add li a:hover {
    background-color: #e1ffe2;
}
.side_whatsapp_add li:first-child a {
    border-top: 0 none;
}
.side_whatsapp_add li span:first-child {
    /* display: table-cell; */
    text-align: left;
    font-size: 14px;
    padding: 8px 5px 7px 26px;
}
.side_whatsapp_add li span:last-child {
    display: table-cell;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 16px 5px 0px;
}
/* responsive */
@media only screen and (max-width: 1680px) {
    .select-search select, .select-width select, .select-width-last select{
        font-size: 12px !important;
        background-size: 8px 12px;
    }
    .select-search .input-group span {
        width: 62px;
        font-size: 13px;
    }
    .search-category img {
        max-width: 30px;
    }
    .search-category p {
        margin-left: 10px;
    }
    .footer-warpper {
        width: 81.47%;
        margin: 58px auto;
    }
    .customer-list img {
        height: 230px;
    }
}
@media only screen and (max-width: 1600px) {
    .select-search select, .select-width select, .select-width-last select{
        font-size: 12px !important;
    }
    .select-width, .select-width-last {
        width: 33%;
    }
}
@media only screen and (max-width: 1440px) {
    .hero-wrapper, .top-menu-wrapper, .contents-wrapper {
        width: 88%;
    } 
    .select-width, .select-width-last {
        width: 34%;
    }
    .search-title h3 {
        font-size: 16px;
        margin-left: 18px;
    }
    .hero-wrapper .logo img{
        width: 82%;
    }
    .menu ul li a {
        font-size: 17px;
    }
    .banner-desc h1 {
        padding-top: 20px;
    }
    .contents-wrapper {
        margin: 50px auto;
    }
    .search-input {
        padding: 5px 0;
        font-size: 15px;
        padding-left: 15px;
    }
    .form-content span {
        right: 28px;
        top: 17px;
    }
    .custom-search .form-content {
        padding: 17px 6px;
    }
    .select-search {
        padding: 0px 6px;
    }
    .select-search .input-group span {
        
    }
    .select-width-last {
        margin-left: 4px !important;
    }
    .advance-search a{
        font-size: 15px;
    }
    .search-title h3 {
        padding: 15px 0;
    }
    .search-submit {
        padding: 9px 0;
    }
    .search-submit i {
        font-size: 15px;
    }
    .search-category p {
        font-size: 15px;
    }
    .main-contents {
        padding: 0 12px;
    }
    .main-contents-title h1 {
        font-size: 27px;
    }
    .main-contents-title a {
        font-size: 14px;
    }
    .car-desc h3 {
        font-size: 13px;
    }
    .car-desc p {
        font-size: 12px;
    }
    .customer-text h3 {
        font-size: 15px;
        padding: 14px 0;
    }
    .overlay-text h3 {
        font-size: 15px;
    }
    .overlay-text p {
        font-size: 13px;
    }
    .footer-warpper {
        width: 81.47%;
        margin-top: 58px !important;
        margin-bottom: 44px !important;
        margin: auto;
    }
    .footer-menu a {
        font-size: 15px;
    }
    .copywirter p {
        font-size: 15px;
    }
}
@media only screen and (max-width: 1366px) {
    .hero-wrapper, .top-menu-wrapper, .contents-wrapper {
        width: 93%;
    }
    .footer-logo {
        width: 45%;
        margin-right: 5%;
    }
    .footer-contact {
        width: 46%;
    }
    .select-width-last {
        margin-left: 2px !important;
    }
}
@media only screen and (max-width: 1280px) {
    .top-menu-wrapper, .hero-wrapper, .contents-wrapper, .footer-warpper  {
        width: 94%;
    }
    .contact-info i, .social i {
        font-size: 20px;
    }
    .contact-info span, .user-register a {
        font-size: 14px;
    }
    .top-menu {
        padding: 4px 0;
        height: 42px;
    }
    .contact-info{
        padding-top: 4px;
    }
    .hero-wrapper .logo img {
        width: 75%;
    }
    .hero {
        height: 347px;
    }
    .banner-desc h1 {
        font-size: 37px;
    }    
    .select-width .form-select, .select-width-last .form-select {
        padding: 0.47rem 0.45rem 0.47rem 0.25rem;
    }
    .banner-img img{
        width: 750px;
    }
    .search-title h3, .search-submit {
        font-size: 18px;
    }
    .main-contents-title h1 {
        font-size: 25px;
        padding-bottom: 7px;
    }
    .select-width, .select-width-last {
        width: 33%;
    }
    .select-width-last {
        margin-left: 4px !important;
    }
    .main-contents-title a {
        font-size: 12px;
    }
    .search-category p {
        margin-left: 7px;
    }
    .customer-list img {
        height: 200px;
    }
}
@media only screen and (max-width: 1024px) {
    .hero {
        height: 300px;
    }
    .top-menu-wrapper {
        width: 900px;
    }
    .hero-wrapper, .contents-wrapper, .footer-warpper {
        width: 900px;
        display: flow-root;
    }
    .whats-app {
        margin-left: 25px;
    }
    .top-left {
        width: 60%;
    }
    .top-right {
        width: 40%;
    }
    .hero-wrapper .logo img {
        width: 180px;
    }
    .menu ul li a {
        font-size: 15px;
        margin-right: 23px;
    }
    .banner-desc h1 {
        font-size: 32px;
    }
    .banner-img {
        margin-top: 0;
    }
    .banner-img img {
        width: 620px;
    }
    .select-width, .select-width-last {
        width: 34%;
    }
    .search-title h3 {
        margin-left: 21px;
    }
    .left-sidebar {
        width: 25%;
    }
    .main-contents {
        width: 75%;
    }
    .right-sidebar {
        width: 100%;
    }
    .news-box {
        width: 30%;
        float: left;
        margin-right: 30px;
        margin-top: 20px;
    }
    .fb-wrapper {
        display: none;
    }
    .footer-logo {
        width: 40%;
    }
    .footer-menu {
        width: 40%;
    }
    .footer-contact {
        width: 100%;
        margin-top: 24px;
    }
    .customer-list img {
        height: 180px;
    }
}
@media only screen and (max-width: 768px) {
    .menu {
        display: none;
    }
    .topnav {
        display: block;
    }
    .topnav a {
        display: none;
    }
    .topnav.responsive {    
        position: absolute;
        margin-top: 38px;
        background: #fff;
        width: 200px;
        border-radius: 2px;
    }
    .mobile-icon {
        display: block;
        color: #fff !important;
        float: left;
        margin-right: 20px;
        margin-top: 7px;
        font-size: 17px;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: #4B4B4B;
        padding: 8px 10px;
        font-size: 15px;
    }
    .topnav.responsive a:hover{
        background: #4B4B4B;
        color: #fff;
    }
    .top-menu-wrapper, .hero-wrapper, .contents-wrapper, .footer-warpper {
        width: 90%;
    }
    .contact-info span, .contact-info .mobile-no, .contact-info .whatsapp-no{
        display: none;
    }
    .top-left {
        width: 30%;
    }
    .top-right {
        width: 70%;
    }
    .hero-wrapper .logo {
        text-align: center;
        float: inherit;
    }
    .left-sidebar, .main-contents {
        width: 100%;
    }
    .custom-search .form-content, .select-search {
        padding: 17px 12px;
    }
    .search-title h3 {
        color: #201E1E;
    }
    .search-car-title h3{
        color: #fff;
    }
    .search-type, .search-maker {
        background: #E5E5E5;
        box-shadow: none;
        display: grid;
    }
    .search-title {
        background: #E5E5E5;
    }
    .search-category a {
        width: 14%;
        float: left;
        text-align: center;
        background: linear-gradient(180deg, #F1F1F1 0%, #FFFFFF 100%);
        border: 1px solid #E2E2E2;
        box-sizing: border-box;
        box-shadow: 0px 4px 44px rgb(0 0 0 / 6%);
        border-radius: 4px;
        margin-right: 37px;
        min-height: 80px;
        max-height: 80px;
    }
    .search-category img {
        float: initial;
        margin-top: 10px;
    }
    .search-category span {
        display: none;
    }
    .search-category p {
        margin-top: 5px;
        float: initial;
        margin-left: 0;
        line-height: initial;
    }
    .main-contents {
        margin-top: 20px;
    }
    .select-width, .select-width-last {
        width: 45%;
    }
    .news-box {
        width: 30%;
        float: left;
        margin-right: 23px;
        margin-top: 20px;
    }
    .modal-section{
        width: 100%;
    }
    .footer-logo {
        width: 100%;
    }
}
@media only screen and (max-width: 425px) {
    .custom-search .form-content, .select-search {
        padding: 8px 12px;
    }
    .form-content span {
        top: 9px;
    }
    .search-type, .search-maker {
        margin-top: 12px;
    }
    .top-menu-wrapper, .hero-wrapper, .contents-wrapper, .footer-warpper {
        width: 92%;
    }
    .top-menu {
        height: 58px;
    }
    .social{
        display: none;
    }
    .contact-info i, .user-register i{
        font-size: 25px;
    }
    .mobile-icon {
        font-size: 22px;
    }
    .user-register a {
        display: grid;
        text-align: center;
    }
    .user-register i {
        font-size: 18px;
        margin-right: 0;
    }
    .topnav.responsive {
        margin-top: 54px;
        z-index: 999;
    }
    .banner-desc h1 {
        font-size: 23px;
        letter-spacing: 0.03em;
        line-height: 32px;
        padding-top:3px;
    }
    .hero {
        height: 268px;
    }
    .banner-img img {
        width: 370px;
    }
    .contents-wrapper{
        margin: 20px auto;  
    }
    .select-width, .select-width-last {
        width: 40.5%;
    }
    .select-width-last {
        margin-left: 8px !important;
    }
    .search-car-title {
        padding-top: 15px;
        margin-left: 21px;
    }
    .search-title h3, .search-submit {
        font-size: 20px;
    }
    .advance-search {
        margin-top: 25px;
        margin-bottom: 20px !important;
    }
    .search-category a {
        width: 90px;
        margin-right: 7px;
        min-height: 72px;
        max-height: 72px;
        margin-bottom: 4px !important;
    }
    .search-category {
        padding: 0;
        display: inline-block;
    }
    .search-category p {
        font-size: 13px;
    }
    .search-title h3, .search-submit {
        margin-left: 0;
    }
    .search-title h3 {
        padding-top: 0;
        padding-bottom: 7px;
    }
    .main-contents-title h1 {
        font-size: 20px;
        padding-bottom: 10px;
        padding-top: 5px;
    }
    .car-list {
        margin-right: 9px;
        margin-top: 0;
        width: 31%;
    }
    .car-desc {
        padding: 10px 5px;
    }
    .car-desc h3 {
        font-size: 12px;
        line-height: 14px;
    }
    .car-desc p {
        font-size: 11px;
        line-height: 14px;
    }
    .contents-list {
        margin-top: 5px;
        margin-bottom: 0 !important;
    }
    .main-contents {
        padding: 0;
        margin-top: 0;
    }
    .customer-list {
        width: 48%;
        margin-right: 7px;
        margin-top: 5px;
    }
    .news-box {
        width: 100%;
        margin-top: 0;
    }
    .fb-wrapper {
        display: block;
    }
    .footer-warpper {
        margin-top: 12px !important;
        margin-bottom: -2px !important;
    }
    .footer-logo, .footer-menu, .footer-contact {
        width: 100%;
    }
    .footer-social {
        margin-top: 4px;
    }
    .footer-menu h3{
        margin-top: 30px;
        margin-bottom: 23px;
    }
    .footer-menu a {
        font-size: 17px;
    }
    .footer-contact {
        width: 100%;
        margin-top: 9px;
    }
    .address-contact {
        width: 100%;
    }
    .phone-contact {
        width: 100%;
        padding-left: 0;
    }
    .txt-2{
        padding: 4px 0 !important;
        padding-left: 13px !important;
    }
    .reserved-mark {
        font-size: 8px;
        line-height: 18px;
    }
    .image-count, .video-count {
        display: inherit;
        padding: 1px 2px;
        margin-top: 4px;
        margin-left: 5px;
    }
    .whatsapp .wrap {
        width: 54px;
    }
    .side_whatsapp_add li span:last-child {
        font-size: 13px;
    }
    .side_whatsapp_add li span:first-child {
        font-size: 13px;
    }
    .side_whatsapp_add li::before {
        top: 9px;
    }
    .side_whatsapp_add {
        bottom: 111px;
        right: 52px;
    }
    .side_whatsapp_add ul {
        margin-bottom: 0;
    }
    .side_whatsapp_add li a {
        width: 211px;
    }
    .footer-logo p {
        margin-top: 3px;
        margin-bottom: 0;
    }
    .footer-menu h3{
        font-size: 20px;
    }
    .footer-contact .contact-title{
        font-size: 20px;
        margin-bottom: 12px;
    }
    .footer-contact h3 {
        font-size: 15px;
    }
}
@media only screen and (max-width: 414px) {
    .search-category a {
        width: 88px;    
        margin-bottom: 8px !important;
    }
    .car-list{
        margin-right: 7px;
    }
    .select-width, .select-width-last {
        width: 40%;
    }
    .advance-search{
        margin-bottom: 0!important;
    }
    .news-box{
        margin-top: 0;
    }
}
@media only screen and (max-width: 412px) {
    .whats-app {
        margin-left: 23px;
    }
    .search-category a {
        width: 87px;
    }
    .car-list .car-desc{
        min-height: 78px;
    }
}
@media only screen and (max-width: 393px) {
    .whats-app {
        margin-left: 18px;
    }
    .select-width, .select-width-last {
        width: 39.7%;
    }
    .search-category a {
        width: 83px;
    }
}
@media only screen and (max-width: 390px) {
    .search-category a {
        width: 82px;
    }
    .select-width, .select-width-last {
        width: 39.5%;
    }
}
@media only screen and (max-width: 375px) {
    .whats-app {
        margin-left: 14px;
    }
    .select-width, .select-width-last {
        width: 39.1%;
    }
    .search-category a {
        width: 78px;
        min-height: 75px;
        max-height: 75px;
    }
    .customer-list {
        margin-right: 6px;
    }
}
@media only screen and (max-width: 360px) {
    .banner-img img {
        width: 339px;
    }
    .whats-app {
        margin-left: 10px;
    }
    .hero {
        height: 262px;
    }
    .select-width, .select-width-last {
        width: 38.6%;
    }
    .search-category a {
        width: 75px;
    }
}
@media only screen and (max-width: 320px) {
    .mobile-icon{
        margin-right: 10px;
    }
    .whats-app {
        margin-left: 8px;
    }
    .banner-img img {
        width: 300px;
        margin-top: 5px;
    }
    .select-width, .select-width-last {
        width: 37.2%;
    }
    .search-category a {
        width: 71px;
        margin-right: 1px;
        margin-bottom: 1px !important;
    }
    .car-list {
        margin-right: 6px;
    }
    .customer-list {
        margin-right: 5px;
    }
    .main-contents-title h1 {
        font-size: 17px;
    }
    .main-contents-title a {
        font-size: 11px;
    }
}