body {
    font-family: Electrolux Sans;
    font-style: normal;
    background: #E5E5E5;
}
h3 {
    font-size: 20px;
}
.top-menu {
    background: #EF1923;
    padding: 5px 0;
    height: 50px;
}
.top-menu-wrapper {
    width: 81.47%;
    margin: 0 auto;
    display: flex;
} 
.top-left, .top-right {
    width: 50%;
}
.contact-info {
    color: #fff;
    float: left;
}
.contact-info i{
    font-size: 24px;
}
.contact-info span{
    font-size: 14px;
}
.contact-info a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.whats-app {
    margin-left: 30px;
}
.social {
    float: left;
}
.social i{
    color: #fff;
    font-size: 24px;
    margin-left: 20px;
    padding-top: 10px;
}
.user-register {
    float: right;
    padding-top: 10px;
}
.user-signup, .user-login {
    float: right;
}
.user-register a{
    color: #fff;
    font-size: 16px;
}
.user-register i{
    font-size: 20px;
    margin-right: 10px;
}
.user-login {
    margin-right: 20px;
}
.hero {
    background: url('../images/banner.png');
    height: 414px;
}
.hero-wrapper {
    width: 81.47%;
    margin: 0 auto;
}
.hero-wrapper .logo {
    float: left;
}
.hero-wrapper .logo img{
    margin-top: 20px;
}
.hero-wrapper .menu {
    float: right;
    margin-top: 60px;
}
.menu ul li {
    display: inline;
}
.menu ul li a {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-right: 33px;
}
.menu ul li .last-menu{
    margin: 0;
}
.banner-desc {
    clear: both;
}
.banner-desc h1{
    font-size: 50px;
    line-height: 56px;
    color: #fff;
    text-align: center;
}
.banner-img{
    text-align: center;
    margin-top: 20px;
}

/* /end head */

/* contents section */
.contents-wrapper {
    width: 81.47%;
    /* margin: 25px auto; */
    display: flex;
    margin-left: 186px;
    margin-right: 186px;
    margin-top: 64px;
}
/* left sidebar */
.left-sidebar {
    width: 24.5%;
    float: left;
}
.search-car {
    background: #081803;
    border-radius: 6px;
}
.search-car-title {
    background: #081803 !important;
}
.search-title h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #fff;
    padding: 22px 0;
    margin-bottom: 0;
    margin-left: 25px;
}
.custom-search {
    background: #E10B14;
    position: relative;
}
.search-input {
    padding: 9px 0;
    font-size: 18px;
    padding-left: 25px;
    border-radius: 6px;
}
.custom-search .form-content{
    padding: 17px 19px;
}
.form-content span {
    position: absolute;
    font-size: 16px;
    line-height: 38px;
    right: 35px;
    top: 22px;
    color: #b9bfc4;
}
.form-content .req {
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    margin-top: 14px;
}
.select-search {
    padding: 0 19px
}
.select-search .input-group span{
    background: #920000;
    color: #fff;
    border: transparent;
    width: 105px;
    font-size: 17px;
    padding: 0 27px;
}
.select-width, .select-width-last {
    width: 31%;
}
.select-width select{
    border-radius: unset;
}
.select-width-last {
    margin-left: 23px !important;
}
.select-width-last select{
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}
.advance-search {
    text-align: right;
}
.advance-search a {
    color: #fff;
    font-size: 20px;
}
.search-submit{
    width: 100%;
    border: transparent;
    background: #081803;
    color: #fff;
    border-radius: 0px 0px 6px 6px;
    font-size: 20px;
    padding: 16px 0;
}
.search-submit i{
    margin-left: 10px;
}
.search-type, .search-maker {
    margin-top: 30px;
    border-radius: 6px;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.06);
    background: #fff;
}
.search-title {
    background: #E10B14;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.search-category {
    padding: 22px 25px;
}
.search-category a{
    color: #4B4B4B;
    font-size: 18px;
    display: block;
}
.search-category img{
    float: left;
}
.search-category p{
    float: left;
    margin-left: 18px;
}
.search-category span {
    margin-left: 5px;
    font-size: 15px;
}
/* /end left sidebar */
/* main contents */
.main-contents {
    width: 51%;
    float: left;
    padding: 0 30px;
}
.main-contents-title h1 {
    float: left;
    border-bottom: 1px solid #E10B14;
    padding-bottom: 5px;
    margin: 0;
}
.main-contents-title a {
    float: right;
    font-size: 16px;
    font-weight: 600;
}
.main-contents-title .title-border{
    height: 1px;
    background: #ACACAC;
    width: 100%;
    display: flex;
}
.contents-list {
    margin-top: 17px;
    display: inline-block;
    width: 100%;
}
.car-list {
    width: 23%;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0px 4px 44px rgb(0 0 0 / 6%);
    float: left;
    margin-top: 20px;
    margin-right: 2.66%;
}
.car-list img{
    width: 100%;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.car-list img:hover{
    opacity: .5;
}
.car-desc{
    padding: 18px 13px;
}
.car-desc h3{
    color: #E10B14;
    font-size: 15px;
}
.car-desc p{
    font-size: 14px;
    color: #4F4D4D;
    margin: 0;
    margin-bottom: 3px;
}
.car-image {
    position: relative;
    display: flex;
    overflow: hidden;
}
.media-count{
    position: absolute;
    color: #fff;
    font-size: 16px;
}
.image-count {
    background: rgba(0, 0, 0, 0.27);
    border-radius: 4px;
    padding: 3px 5px;
    top: 0;
    margin-top: 10px;
    display: inline-block;
    margin-left: 5px;
}
.image-count i{
    font-size: 12px;
    margin-right: 3px;
}
.reserved-mark {
    position: absolute;
    right: -74px;
    padding: 0px 55px;
    top: 13px;
    width: 200px;
    line-height: 24px;
    transform: rotate(45deg);
    background-color: #e41515;
    color: #fff !important;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.customer-list {
    position: relative;
    width: 30.5%;
    border-radius: 6px;
    float: left;
    margin-top: 20px;
    margin-right: 4.2%;
}
.customer-list img {
    width: 100%;
    border-radius: 6px;
}
.customer-text {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.customer-text h3 {
    font-weight: 600;
    font-size: 16px;
    padding: 17px 0;
    text-align: center;
    color: #E10B14;
    margin: 0;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.36) 0%, rgba(24, 21, 21, 0.77) 100%);
  }
  .customer-list:hover .overlay {
    opacity: 1;
    /* box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.06); */
    border-radius: 6px;
  }
  .customer-list:hover .customer-text{
      display: none;
      transition: .5s ease;
  }
  .overlay-text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
  .overlay-text h3{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }
  .overlay-border {
      height: 0.5px;
      width: 100%;
      background: #fff;
  }
  .overlay-text p{
      padding: 10px;
      font-size: 14px;
  }
  .overlay-text h3:hover{
      color: #E10B14;
  }
/* /end main contents */
/* end main */
/* right sidebar */
.right-sidebar{
    float: left;
    width: 24.5%;
}
.news-box img{
    width: 100%;
}
/* footer section */
.footer{
    display: flex;
    background: #3A3A3C;
}
.footer-warpper{
    width: 70.3%;
    margin: 58px 285px 44px 285px;
}
.footer-logo {
    float: left;
    width: 30.5%;
}
.footer-logo p{
    font-size: 15px;
    line-height: 23px;
    color: #EFEFEF;
    margin-top: 10px;
}
.footer-social{
    margin-top: 29px;
}
.footer-social i{
    font-size: 18px;
    margin-right: 25px;
    color: #fff; 
}