.hero {
    height: 190px !important;
}
body{
    background: #fff !important;
}
.contents {
    display: flex;
}
.agent-details {
    width: 80%;
    margin: 30px auto;
}
.agent-list img{
    
}
.agent-list {
    margin-bottom: 30px;
}
.agent-list:last-child {
    margin-bottom: 0;
}
.agent-list p{
    font-size: 18px;
    border-bottom: 1px solid #000;
}
@media only screen and (max-width: 1920px) { 
    .agent-details p{
        margin-left: -100px;
    }
}
@media only screen and (max-width: 1680px) { 
    .agent-details p{
        margin-left: 0;
    }
}
@media only screen and (max-width: 1440px) {
    .hero {
        height: 160px !important;
    }
}
@media only screen and (max-width: 1280px){
    .agent-details {
        width: 90%;
    }
    .hero {
        height: 149px !important;
    }
}
@media only screen and (max-width: 1024px) { 
    .hero {
        height: 137px !important
    }
    .agent-details img{
        width: 100%;
    }
}
@media only screen and (max-width: 768px) { 
    .agent-list p{
        font-size: 13px;
    }
}
@media only screen and (max-width: 425px) { 
    .page-title a {
        font-size: 16px;
    }
    .agent-details {
        width: 94%;
        margin: 10px auto;
    }
    .agent-list {
        margin-bottom: 5px;
    }
    .agent-info {
        margin-top: 20px !important;
    }
}